.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.todo-item span {
    min-width: 25%;
}

.icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}